.profile {
  color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: center;
  margin: 68px auto 112px;
}

.form {
}

.form__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input-block {
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 408px;
}

.form__input-block_border {
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.form__name-input_profile {
  color: rgba(0, 0, 0, 1);
  font-size: 11px;
  font-weight: 500;
  line-height: 1.19;
  margin: 0;
  align-self: center;
}

.form__input_profile {
  color: rgba(0, 0, 0, 1);
  font-size: 11px;
  font-weight: 400;
  line-height: 1.19;
  text-align: right;
  border: none;
  background-color: transparent;
  height: 14px;
  flex-grow: 2;
}

.form__input_profile:focus {
  outline: none;
  border: none;
}

.form__input-block:has(.form__input_profile:focus) {
  border-bottom: 1px solid rgb(134, 129, 129);
}

.form__input-error_profile {
  /* position: absolute;
  top: 470px; */
  /* border-top: 1px solid rgba(255, 64, 98, 1); */
}

.input-title-error {
  color: rgba(255, 255, 255, 1);
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: center;
  height: 14px;
  margin: 140px auto 20px;
}

.form__input-message {
  color: rgba(255, 0, 76, 1);
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: center;
  height: 14px;
}

.form__input-message_profile {
  margin: 140px auto 20px;
}

.form__input-success {
  color: rgb(134, 129, 129);
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: center;
  height: 14px;
  margin: 140px auto 20px;
}

.input-title-error_success {
  color: rgba(255, 255, 255, 1);
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: center;
  height: 14px;
  margin: 140px auto 20px;
}

.form__button-edit {
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0.45px;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0px auto 15px;
}

.form__button-edit:hover {
  opacity: 80%;
  transition: opacity 0.4s linear;
}

.form__button-submit_profile:disabled {
  opacity: 50%;
}

.form__button-submit_profile {
  width: 396px;
  height: 45px;
}

.profile__out {
  display: block;
  color: rgba(255, 64, 98, 1);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.23;
  letter-spacing: 0.45px;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto 70px;
}

.profile__out:hover {
  opacity: 80%;
  transition: opacity 0.4s linear;
}

@media screen and (min-width: 550px) and (max-width: 1024px) {
  .profile__title {
    margin: 230px auto 79px;
  }

  .input-title-error {
    margin: 140px auto 20px;
  }

  .form__input-message_profile {
    margin: 140px auto 20px;
  }

  .form__input-success {
    margin: 140px auto 20px;
  }

  .input-title-error_success {
    margin: 140px auto 20px;
  }

  .form__button-edit {
    /* margin: 194px auto 15px; */
  }

  .profile__out {
    margin: 0 auto 270px;
  }

  .form__button-submit_profile {
    width: 396px;
    height: 45px;
  }
}

@media screen and (max-width: 549px) {
  .profile__title {
    margin: 65px auto 62px;
  }

  .form__input-block {
    width: 260px;
  }

  .form__button-edit {
    /* margin: 362px auto 15px; */
    font-size: 12px;
    line-height: 1.25;
  }
  .input-title-error {
    margin: 305px auto 20px;
  }

  .form__input-message_profile {
    margin: 305px auto 20px;
  }

  .form__input-success {
    margin: 305px auto 20px;
  }

  .input-title-error_success {
    margin: 305px auto 20px;
  }

  .profile__out {
    margin: 0 auto 40px;
    font-size: 12px;
    line-height: 1.25;
  }

  .form__button-submit_profile {
    width: 260px;
    font-size: 12px;
    line-height: 1.25;
  }
}
