.not-found {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 246px;
  padding-bottom: 60px;
}

.not-found__title {
  font-size: 140px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: center;
  margin: 0 auto;
}

.not-found__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1/19;
  letter-spacing: 0em;
  text-align: center;
  margin: 5px auto 0;
}

.not-found__back {
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0em;
  margin: 184px auto 0;
  cursor: pointer;
}

.not-found__back:hover {
  opacity: 70%;
  transition: opacity 0.4s linear;
}

@media screen and (min-width: 550px) and (max-width: 1024px) {
  .not-found {
    padding-top: 408px;
    padding-bottom: 220px;
  }

  .not-found__subtitle {
    margin: 4px auto 0;
  }
}

@media screen and (max-width: 549px) {
  .not-found {
    padding-top: 330px;
    padding-bottom: 30px;
  }

  .not-found__title {
    font-size: 80px;
    line-height: 1.21;
  }

  .not-found__subtitle {
    margin: 10px auto 0;
    font-size: 12px;
    line-height: 1.25;
  }

  .not-found__back {
    margin: 282px auto 0;
    font-size: 12px;
    line-height: 1.25;
  }
}
