.promo {
  background-color: #f3c1f8;
  position: relative;
}

.promo__title {
  color: #000;
  padding-top: 178px;
  padding-bottom: 224px;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -1.95px;
  max-width: 730px;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

.promo__logo {
  position: absolute;
  top: 76px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media screen and (min-width: 550px) and (max-width: 1024px) {
  .promo__title {
    padding-top: 320px;
    padding-bottom: 342px;
  }

  .promo__logo {
    top: 217px;
  }
}

@media screen and (max-width: 549px) {
  .promo__title {
    font-size: 31px;
    line-height: 1.26;
    letter-spacing: -0.04em;
    max-width: 300px;
    padding-top: 201px;
    padding-bottom: 246px;
  }

  .promo__logo {
    width: 248px;
    top: 136px;
  }
}
