.popup {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.7s, opacity 0.5s;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__close-button {
  border: none;
  background-image: url('../../images/CloseButton.svg');
  width: 31px;
  height: 31px;
  position: absolute;
  top: 22px;
  right: 24px;
  z-index: 3;
  background-color: transparent;
  cursor: pointer;
}

.popup__container {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  height: 100%;
  width: 68%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup__main {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  margin-top: 160px;
}

.popup__movies {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 29px;
  margin-bottom: 28px;
}

.popup__saved-movies {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: 0px;
  text-align: center;
}

.popup__profile {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
  cursor: pointer;
  margin-top: 611px;
}

.popup__subtitle {
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: 0px;
  text-align: left;
  margin-right: 0px;
}

.popup__btn {
  width: 30px;
  height: 30px;
  margin-left: 3px;
  margin-bottom: 1px;
}

@media screen and (max-width: 549px) {
  .popup__container {
    width: 100%;
  }

  .popup__close-button {
    top: 13px;
    right: 14px;
  }

  .popup__main {
    margin-top: 145px;
  }

  .popup__movies {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  
  .popup__profile {
    margin-top: 435px;
  }
}
