.header {
  margin: 0 auto;
  padding: 0;
}

.header__container {
  padding: 16px 70px 20px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f3c1f8;
}

.header__container_light {
  padding: 16px 70px 20px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
}

.header__link {
  cursor: pointer;
}

.header__logo {
  margin-top: 2px;
  max-width: 38px;
}

@media screen and (min-width: 550px) and (max-width: 1024px) {
  .header__container {
    padding: 16px 30px 20px 30px;
  }

  .header__container_light {
    padding: 16px 37px 20px 30px;
  }
}

@media screen and (max-width: 549px) {
  .header__container {
    padding: 16px 14px 20px 14px;
  }

  .header__container_light {
    padding: 16px 17px 20px 14px;
  }
}
