.header {
  margin: 0 auto;
  padding: 0;
}

.header__container {
  padding: 18px 70px 20px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f3c1f8;
}

.header__container_light {
  padding: 15px 70px 20px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
}

.header__logo {
  max-width: 38px;
}

