.project {
  padding-right: 70px;
  padding-left: 70px;
}

.project__title {
  color: rgba(0, 0, 0, 1);
  font-size: 22px;
  font-weight: 400;
  line-height: 1.23;
  text-align: left;
  letter-spacing: -1.05px;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  margin: 110px auto 0;
}

.project__description {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 110px;
  gap: 90px;
}

.project__description-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.project__description-title {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.85px;
  text-align: left;
  margin: 20px 0 0;
}

.project__description-text {
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  text-align: left;
  max-width: 100%;
  margin-top: 26px;
  margin-bottom: 0;
}

.project__deadlines {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 36px 17px;
  gap: 16px 0;
  justify-content: stretch;
  padding-bottom: 108px;
}

.project__deadlines-week {
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-align: center;
  background-color: rgba(242, 242, 242, 1);
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
}

.project__deadlines-tech {
  color: rgba(160, 160, 160, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
}

.project__deadlines-week_dark {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  text-align: center;
  background-color: rgba(0, 0, 0, 1);
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
}

@media screen and (min-width: 550px) and (max-width: 1024px) {
  .project {
    padding-right: 50px;
    padding-left: 50px;
  }

  .project__title {
    padding-bottom: 23px;
    margin: 90px auto 0;
  }

  .project__description-content {
    max-width: 430px;
  }

  .project__description {
    gap: 36px;
    margin-bottom: 92px;
  }

  .project__description-text {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 23px;
  }

  .project__deadlines {
    grid-template-columns: 21% 79%;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 549px) {
  .project {
    padding-right: 18px;
    padding-left: 18px;
  }

  .project__title {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.04em;
    margin: 71px auto 0;
    padding-bottom: 27px;
  }

  .project__description {
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 56px;
  }

  .project__description-title {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: -0.04em;
    margin-top: 1px;
  }

  .project__description-text {
    font-size: 11px;
    line-height: 1.45;
    margin-top: 15px;
  }

  .project__deadlines {
    grid-template-columns: 35.2% 64.8%;
    grid-template-rows: 35px 17px;
    gap: 11px 0;
    padding-bottom: 69px;
  }

  .project__deadlines-week {
    font-size: 11px;
    line-height: 1.18;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .project__deadlines-tech {
    font-size: 11px;
    line-height: 1.18;
    letter-spacing: 0px;
  }

  .project__deadlines-week_dark {
    font-size: 11px;
    line-height: 1.18;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
